#input
{
	position:relative;
	width:90%;
	height:40px;
	margin: auto;
}
#search input[type=text]
{
	width:90%;
	height:100%;
	font-size:20px;
	padding: 0 20px 0 5px;
	border:none;
	background: #282727 /*url(../img/magnefy2.png) right no-repeat;*/
}