#Content
{
	width:100%;
	background-color:#1a70c2;
	border-radius:5px;
	padding:10px 0;
}
#CreateSlider
{
	
	margin:auto;

}
#Form4
{
	width:60%;
	margin:auto;
}
#Select-Box, #Title-Input, #Content-Input
{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#Select-Box
{
	width:100%;
}

#Content-Input
{
	width:100%;
	min-height: 200px;
	position:relative;
}
#Content-Input::placeholder{
	position:absolute;
	top:0;
}
#Title-Input
{
	width:100%;
}